@import "tailwindcss";

@layer base {
  *, *::before, *::after {
    border-color: var(--color-stone-200);
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: var(--color-stone-50);
    color: var(--color-stone-900);
  }
}
